.slide_container {
  overflow: hidden;
}

.slide_container .slide_wrapper {
  display: flex;
  flex-wrap: nowrap;
}

.slide_container .slide {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  position: relative;
  padding: 40px 25px;
  gap: 50px;
}

.slide_container .slide::before {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

@keyframes infiniteAnimation1 {
  0% {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(-100%);
  }
  50.1% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes infiniteAnimation2 {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-200%);
  }
}

@keyframes reverseInfiniteAnimation1 {
  0% {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(100%);
  }
  50.1% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes reverseInfiniteAnimation2 {
  0% {
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(0%);
  }
}
