@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'swiper/css';
@import 'swiper/css/bundle';

body {
  margin: 0;
}

swiper-container {
  display: flex;
  width: 1200px;
}

swiper-wrapper {
  width: 1170px;
}

swiper-slide {
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}
